<div class="container-form">
	<img class="img-position" src="assets/img/Topo.svg">
	<img class="img-textura" src="assets/img/0aa2.png">

	<header class="header">
		<nav class="nav">
			<ul>
				<li>sobre</li>
				<li>cromoterápicos</li>
				<li>contato</li>
				<button class="btn-home" routerLink="/form/question"> Iniciar Jornada</button>
			</ul>
		</nav>
	</header>

	<div>
		<div class="bloco-1">
			<span class="small-text">uma jornada pelo seu bem-estar</span>
			<span class="big-text"> produtos artesanais direto da natureza</span>
			<button class="btn-home btn-2" routerLink="/form/question">Iniciar Jornada</button>
		</div>
		<div class="bloco-2">
			<!-- <img src="assets/img/perfumes.png"> -->
		</div>
	</div>
	<div class="footer">
		<div>
			<img class="img-aspiracao" src="assets/img/aspiracao-branco.svg">
		</div>
		<nav>
			<ul>
				<li>sobre</li>
				<li>cromoterápicos</li>
				<li>contato</li>
			</ul>
		</nav>
		<div class="contato">
			<span>Rua São Joaquim, 2156</span>
			<span>Vila Esperança Gleba 1</span>
			<span>São Carlos - SP</span>
			<span [style.margin-top.em]="2">(16) 9 9999 9999</span>
			<span>contato@aspiração.com.br</span>
		</div>
	</div>
</div>