.container-form {
    width: 100%;
    height: 134.875em;
    display: block;
    background: #F8F7F5;    
    position: absolute;
}

.img-position {
    margin-top: 0em;
    margin-left: 0em;
    width: 9.75em;
    position: absolute;
}

.img-textura {
    position: fixed;
    height: 100%;
    width: 100%;
 }

.header {
    width: 100%;
    position: absolute;
    display: flex;
}

.nav {
    width: 100%;
    position: absolute;
}

.header ul{
    justify-content: right;
    margin: 0;
    list-style-type: none;
    float: right;
}

.header ul li{
    display: inline;
    text-decoration: underline;
    font-size: 1.31em;
    color: #465F5C;
    margin: 0em 2em 0 2em;
    font-family: 'Open Sans', 'arial', sans-serif;
    font-weight: bold; 
}

.header ul button {
    margin-left: 2em ;
}

.btn-home {
    background-color: #465F5C;
    height: 75px;
    text-align: center;
    color: white;
    font-family: 'FuturaPT', 'arial', sans-serif;
    line-height: 2.188em;
    font-size: 1.750em;
    width: 288px;
    border: none;
}

.bloco-1 {
    margin-top: 17.7em;
    margin-left: 3.5em;
    position: absolute;
    width: 58.813em;
}

.bloco-1 span {
    display: flex;
}

.small-text {
    color: #465F5C;
    text-align: left;
    font: oblique normal normal 1.875em/2.375em Futura PT;
    font-family: 'FuturaPT', 'arial', sans-serif;
}

.big-text {
    color: #465F5C;
    text-align: left;
    font: normal normal medium;
    font-size: 7.5em;
    line-height: 1em;
    font-family: 'FuturaPT', 'arial', sans-serif;
}

.btn-2 {
    margin-top: 2.5em;
    box-shadow: 0.5em 0.5em rgba(70, 95, 92, 0.5);
}

.btn-saiba-mais {
    background-color: transparent;
    border-color: transparent;
    color: #DD4737;
    //font-size: 1.750em;
    text-decoration: underline;
    font: oblique normal 300 28px/35px Futura PT;
    margin-top: 9.5em ;
}

.bloco-2 {
    margin-top: 5.75em;
    float: right;
    margin-right: 0em;
    height: 65.938em;
}

.bloco-3 {
    margin-top: -1em;
    display: inline-flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
    padding: 3.5em;
}

.img-aspiracao-fundo {
    margin-left: 3.5em;
    width: 113.000em;
    margin-top: 10.375em;
    z-index: 1;
}

.img-linhas-vermelhas {
   margin-left:10.313em ;
   z-index: 2;
}

.img-aspiracao-verde {
    margin-left: 11em;
    z-index: 3;
}

.text-branco {
    display: block;
    width: 56.500em;
    height: 31em;
    background-color: white;
    margin-left: 3.5em;
    position: relative;
    border-radius: 1em;
    padding: 3.438em 7.5em;
}

.text-branco span {
    color: #DD4737;
    font-family: 'Open Sans';
    font-size: 2.375em;
    font-weight: bold; 
    text-align: right;
}

.text-branco p {
    margin-top: 2em ;
    text-align: left;
    line-break: auto;
    font-size: 1.313em;
    line-height:2em;
    color: #465F5C;
    font-family: 'Open Sans';
}

.footer{
    width: 100%;
    height: 24.375em;
    margin-top: 8.2em;
    padding-left: 11em;
    padding-right: 11em;
    background-color: #465F5C;
    display: flex;
    justify-content: space-between
}

.img-aspiracao {
    margin-top: 7.563em;
    height: 9.299em;
    width: 40.250em;
}

.footer nav {
    margin-right: 30em;
}

.footer ul {
    display: flex;
    flex-direction: column;
    justify-content: right;
    list-style-type: none;
    margin-top: 6.563em;
}

.footer ul li{
    text-decoration: underline;
    color: white;
    font: normal normal 600;
    font-size: 1.31em/1.75em;
    font-weight: bold; 
    margin: 1em 0 1em 0;
    font-family: 'Open Sans', 'arial', sans-serif;
}

.contato {
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin-top: 4.875em;
    text-align: right;
}

.contato span {
    color: white;
    font-size: 1.31em/1.75em;
    font-family: 'Open Sans', 'arial', sans-serif;
    margin: 0.5em 0 0.5em 0;
}


