<div class="container-form" [formGroup]="form" *ngIf="qst !== 3">
    <img class="img-position" src="assets/img/Topo.svg">
    <img class="img-bottom" src="assets/img/0aa2.png">

    <div fxLayout="column" class="format-group" [formGroup]="form">
        <span *ngIf="qst === 1" class="questions-format slide-up">Para começar, precisamos saber o seu nome:</span>
        <br>
        <div *ngIf="qst === 1">
            <input formControlName='name' placeholder="Digite o seu nome..." formControlName="name"  #name>
            <mat-error *ngIf="name.value === null">Nome é necessário</mat-error>
        </div>
        <br>
        <span *ngIf="qst === 2" class="questions-format slide-up">ola {{ nome }}! Qual a sua idade?</span>
        <br>
        <input *ngIf="qst === 2" formControlName='name' placeholder="Digite sua idade..." formControlName="age" #age>
        <br>

        <button (click)="next()" *ngIf="qst === 1 || qst === 2">
            Continuar
            <mat-icon class="icon">east</mat-icon>
        </button>
    </div>
</div>
<app-question *ngIf="qst === 3" [nome]="nome"></app-question>